{% extends 'FrontpageBundle:Default:base.html.twig' %}


{% block body %}

        <div class="heading-block center less-width center-block mb-60">
                <h1 class="text-uppercase">We are here, join us!</h1>
                <p class="lead">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete</p>
        </div>


        <div class="row">

                <div class="col-sm-4">
                        <div class="feature-box no-icon" data-animate="fadeIn">
                                <div class="heading">
                                        <h3 class="underline">About <span class="text-theme">Us</span></h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                </div>
                <div class="col-sm-4">
                        <div class="feature-box no-icon" data-animate="fadeIn" data-delay="200">
                                <div class="heading">
                                        <h3 class="underline">Our <span class="text-theme">Mission</span></h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                </div>
                <div class="col-sm-4">
                        <div class="feature-box no-icon" data-animate="fadeIn" data-delay="400">
                                <div class="heading">
                                        <h3 class="underline">What we <span class="text-theme">do</span></h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                </div>

        </div>

{% endblock %}

