{% extends 'base.html.twig' %}


{% block body %}

    <div class="col-md-6">

        <section class="tile">

            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">Créer un nouvel <strong>Utilisateur </strong></h1>

            </div>
            <!-- /tile header -->

            <!-- tile widget -->
            <div class="tile-body">


                {{ form(form) }}

               

                <br style="clear: both"/>

                <!-- /row -->


            </div>
            <!-- /tile widget -->



            <!-- /tile body -->

        </section>
        <!-- /tile -->



        <!-- /tile -->


    </div>



{% endblock %}