<header id="header" class="transparent-header dark"><!-- class .sticky-mobile makes header sticky on small devices -->

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="main-navbar-toggle"><i class="fa fa-bars"></i></div>







            <!-- ============================================
            =================== Branding ====================
            ============================================= -->

            <div id="branding">
                <a href="index.html" class="brand-normal" data-light-logo="assets/images/logo.png"><img src="{{ asset('minovate/corporate/assets/images/logo-dark.png')}}" alt="Minovate"></a>
                <a href="index.html" class="brand-retina" data-light-logo="assets/images/logo@2x.png"><img src="{{ asset('minovate/corporate/assets/images/logo@2x-dark.png')}}" alt="Minovate"></a>
            </div><!-- #branding end -->







            <!-- ============================================
            ================= Main Navbar ===================
            ============================================= -->

            <nav id="main-navbar">

                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="mega-menu"><a href="#">Mega Menu</a>
                        <div class="mega-menu-content col-4">
                            <ul>
                                <li class="mega-menu-title"><a href="#">Computers</a>
                                    <ul>
                                        <li><a href="#">Desktop Computers</a></li>
                                        <li><a href="#">Notebook Computers</a></li>
                                        <li><a href="#">Point of Sale Computers</a></li>
                                        <li><a href="#">Tablets and Tablet PCs</a></li>
                                        <li><a href="#">Thin Clients</a></li>
                                        <li><a href="#">Workstations</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li class="mega-menu-title"><a href="#">Memory</a>
                                    <ul>
                                        <li><a href="#">Desktop Memory</a></li>
                                        <li><a href="#">Flash Memory</a></li>
                                        <li><a href="#">Mac Memory</a></li>
                                        <li><a href="#">Memory Adapters</a></li>
                                        <li><a href="#">Mobile Phone Memory</a></li>
                                        <li><a href="#">Notebook Memory</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li class="mega-menu-title"><a href="#">Accessories</a>
                                    <ul>
                                        <li><a href="#">Computer Components</a></li>
                                        <li><a href="#">Keyboards</a></li>
                                        <li><a href="#">Speakers</a></li>
                                        <li><a href="#">Cables</a></li>
                                        <li><a href="#">Printers</a></li>
                                        <li><a href="#">Scanners</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li class="mega-menu-title"><a href="#">Special Offer</a>
                                    <ul>
                                        <li><a href="#">Mobile Devices</a></li>
                                        <li><a href="#">Tablets</a></li>
                                        <li><a href="#">Apple Devices</a></li>
                                        <li><a href="#">Playstation</a></li>
                                        <li><a href="#">XBox</a></li>
                                        <li><a href="#">Software</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active"><a href="#">Pages</a>
                        <ul>
                            <li class="active"><a href="about.html">About Us</a></li>
                            <li><a href="prices.html">Prices</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="login.html">Login Page</a></li>
                            <li><a href="sign-up.html">Sign Up</a></li>
                            <li><a href="page-404.html">Page 404</a></li>
                            <li><a href="page-500.html">Page 500</a></li>
                            <li><a href="search-result.html">Search Result</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Portfolio</a>
                        <ul>
                            <li><a href="portfolio-4.html">Portfolio 4</a></li>
                            <li><a href="portfolio-3.html">Portfolio 3</a></li>
                            <li><a href="portfolio-2.html">Portfolio 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a>
                        <ul>
                            <li><a href="blog-page.html">Blog Page</a></li>
                            <li><a href="blog-item.html">Blog Item</a></li>
                        </ul>
                    </li>
                </ul>








                <!-- ==============================================
                ================= Search Toggle ===================
                =============================================== -->

                <div id="search-toggle"> <span>|</span> <a href="#"><i class="fa fa-search"></i></a> </div>







            </nav><!-- #main-navbar end -->

        </div>

    </div>

</header><!-- #header end -->
